@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

:root {
    --primary-background: #222831;
    --secondary-background: #f9f9f9;
    --primary-text: #9be289;
    --secondary-text: #EEEEEE;
}

html {
    scroll-behavior: smooth;
}

.slide {
    background-image: linear-gradient(to left, #53565a, #404044, #2d2c2e, #1a191a, #000000);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%);
    z-index: -100;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all 0.4s ease-in-out;
}

.scrolled {
    background: #f9f9f9;
    padding: 13px 100px;
    transition: all 0.4s ease-in-out;
    -webkit-box-shadow: 0px 3px 16px -6px rgba(45,46,50,1);
    -moz-box-shadow: 0px 3px 16px -6px rgba(45,46,50,1);
    box-shadow: 0px 3px 16px -6px rgba(45,46,50,1);
}

.logo {
    font-size: 34px;
    color: #f9f9f9;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.scrolled-colors {
    color: black;
    transition: all 0.4s ease-in-out;
}

.navbar a {
    position: relative;
    font-size: 20px;
    color: #f9f9f9;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-text);
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;
    background-color: var(--primary-text);
}

.mobile-nav-toggle {
    display: none;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 61rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 500;
    width: 45rem;
}

.hero-title {
    font-size: 60px;
    letter-spacing: 0.5px;
    color: #fff;
    line-height: 4.5rem;
}

.info {
    color: #d2d0d0;
    font-size: 25px;
}

#main-photo {
    width: 200px;
    border-radius: 100%;
}

.icons {
    display: flex;
    gap: 20px;
}

#linkedin, #github {
    color: #fff;
    font-size: 50px;
}

#linkedin:hover, #github:hover {
    color: var(--primary-text);
    cursor: pointer;
}

@keyframes changeShape {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.blob {
    animation: changeShape 5s ease-in-out infinite;
    background-image: url(images/IMG_0184.jpg);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid transparent;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 25rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 30rem;
    border: 3px solid #9be289;
}

.colored {
    color: #9be289;
}

.about-container {
    height: 30rem;
}

.about-content {
    display: flex;
    justify-content: center;
    gap: 6rem;
    width: 61rem;
    height: 100%;
}

.left {
    height: 100%;
}

.about-picture {
    width: 29rem;
    border-radius: 1rem;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45rem;
    background-color: #f9f9f9;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;
}

.about-me {
    color: #9be289;
    font-size: 22px;
    font-weight: 700;
}

.about-title {
    font-size: 32px;
    line-height: 2.7rem;
}

.information-about-me {
    font-size: 18px;
    margin-top: 15px;
}

.tech-stack {
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    align-self: center;
}

.right > hr {
    width: 100%;
}

.stack {
    margin-top: 1rem;
}

.stack > div > img {
    width: 45px;
    height: 45px;
}

.stack {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stack > div:hover {
    margin-top: -1.3rem;
    transition: all 0.3s ease-in-out;
}

.projects {
    background-color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}

.container {
    width: 61rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.portfolio {
    color: #9be289;
    font-size: 22px;
    font-weight: 700;
}

.title {
    margin-top: 5rem;
    margin-bottom: 0rem;
}

.little-info {
    font-size: 32px;
    line-height: 2.7rem;
    font-weight: bold;
}

.project-card {
    width: 61rem;
    height: 30rem;
    background-color: #f9f9f9;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    -webkit-box-shadow: 0px 3px 16px -6px rgba(45,46,50,1);
    -moz-box-shadow: 0px 3px 16px -6px rgba(45,46,50,1);
    box-shadow: 0px 3px 16px -6px rgba(45,46,50,1);
}

.car-project-image {
    width: 30rem;
    height: 25rem;
    border-radius: 2rem;
    background-image: url('images/car-rental.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19rem;
    gap: 1rem;
}

.project-name {
    text-align: center;
}

.project-info {
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.project-links {
    display: flex;
    gap: 2rem;
    font-size: 1.3rem;
}

.project-links > a {
    text-decoration: none;
    color: black;
    padding: 0.7rem 0.5rem; 
    border-radius: 1rem;
}

.project-links > a:hover {
    background-color: #e1dede;
    transition: 0.2s all ease-in-out;
}

.guess-project-image {
    width: 30rem;
    height: 25rem;
    border-radius: 2rem;
    background-image: url('images/guess-a-number.png');
    background-position: 0% 75%;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts {
    height: 25rem;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contacts-container {
    width: 61rem;
}

.contact {
    color: #9be289;
    font-size: 22px;
    font-weight: 700;
}

.contact-location-mail {
    margin-top: 4rem;
    width: 61rem;
    display: flex;
    gap: 5rem;
}

.contacts-title {
    font-size: 32px;
    line-height: 2.7rem;
    font-weight: bold;
}

.contact-element {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.icon-container {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#location-icon {
    font-size: 2rem;
    color: #9be289;
}

.location-title, .mail-title {
    font-size: 1.3rem;
}

.location-place, .mail {
    font-size: 1.2rem;
}

#mail {
    text-decoration: none;
    color: black;
}

#footer {
    height: 5rem;
    background-color: #2d2e32;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
}

@media (max-width: 1170px) {
    .navbar {
        gap: 2em;
        position: fixed;
        inset: 0 0 0 70%;
        background: #ffffff;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navbar[data-visible="true"] {
        transform: translateX(0%);
    }

    .navbar > a {
        color: black;
    }

    .mobile-nav-toggle {
        position: absolute;
        background-image: url("images/icon-hamburger-white.svg");
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        background-color: transparent;
        aspect-ratio: 1;
        top: 2rem;
        right: 5rem;
        z-index: 9999;
        display: block;
        transition: 0.3s all ease-in-out; 
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("images/icon-close.svg");
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
    }

    .mobile-nav-toggle[data-scrolled="true"] {
        top: 1.7rem;
        transition: 0.3s all ease-in-out;   
    }
}

@media (max-width: 1135px) {
    .content {
        flex-direction: column-reverse;
    }

    .hero-title, .info {
        text-align: center;
    }

    .info {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .icons {
        display: flex;
        justify-content: center;
    }

    #about {
        height: 75rem;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: unset;
        gap: 2rem;
    }

    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-me {
        width: 100%;
        text-align: center;
        font-size: 30px;
    }

    .right {
        align-items: center;
        gap: 1rem;
    }

    .about-title {
        text-align: center;
        width: 80%;
    }

    .information-about-me {
        text-align: center;
        width: 80%;
        font-size: 26px;
    }

    .tech-stack {
        font-size: 30px;
    }

    .stack {
        width: 50%;
    }

    .right > hr:nth-child(5) {
        width: 50%;
    }

    .portfolio {
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .little-info {
        text-align: center;
        font-size: 36px;
    }

    .project-card {
        flex-direction: column;
        height: 70rem;
        width: 50rem;
    }

    .car-project-image {
        width: 40rem;
        height: 50%;
        border-radius: 4rem;
    }

    .guess-project-image {
        width: 30rem;
        height: 50%;
        border-radius: 4rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .project-name {
        font-size: 32px;
        width: 40rem;
        margin-bottom: 10px;
    }

    .project-info {
        width: 35rem;
        font-size: 26px;
        line-height: 2.5rem;
    }

    .project-links {
        width: 30rem;
        justify-content: center;
        margin-top: 10px;
    }

    .project-links > a {
        font-size: 30px;
    }

    .contact {
        text-align: center;
        font-size: 30px;
    }

    .contacts-title {
        text-align: center;
        margin-top: 10px;
        font-size: 40px;
    }

    .contact-location-mail {
        justify-content: center;
    }
    
    .mail-title, .location-title {
        font-size: 1.6rem;
    }

    .location-place, .mail {
        font-size: 1.4rem;
    }
}